<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Root Config</title>
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';"
    />
    <!-- <script src="node_modules/systemjs/dist/system.js"></script> -->
    <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
    <!-- More info at https://github.com/single-spa/import-map-overrides/blob/main/docs/configuration.md#domain-list -->
    <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

    <!-- Shared dependencies go into this import map -->
    <!--    <script type="importmap">
      {
        "imports": {}
      }
    </script> -->
    <!-- Add your organization's prod import map URL to this script's src  -->

    <% if (isDev) { %>
    <script>
      /*  const origins = ['http://localhost:4201', 'http://localhost:4200'];

      function appendReactRefreshScript(origin) {
        const reactRefreshInteropabilityScript =
          document.createElement('script');
        reactRefreshInteropabilityScript.type = 'module';
        reactRefreshInteropabilityScript.textContent = `
    import RefreshRuntime from '${origin}/@react-refresh';
    RefreshRuntime.injectIntoGlobalHook(window);
  `;
        document.head.appendChild(reactRefreshInteropabilityScript);
      } */

      window.$RefreshReg$ = () => {};
      /*  window.$RefreshSig$ = () => (type) => type;
      window.__vite_plugin_react_preamble_installed__ = true;

      origins.forEach((origin) => {
        appendReactRefreshScript(origin);
      }); */
    </script>

    <script type="importmap">
      {
        "imports": {
          "@salvador/root-config": "http://localhost:4200/src/main.ts",
          "@salvador/schedule": "http://localhost:4201/src/main.ts"
        }
      }
    </script>
    <% } %>
  </head>
  <body>
    <noscript> You need to enable JavaScript to run this app. </noscript>
    <% if (isDev) { %>
    <script>
      import('@salvador/root-config');
    </script>
    <% } %>
  </body>
</html>
