.card {
  background-color: var(--color-surface);
  border-radius: 0.375rem;
  padding: 1.5rem;
}

button {
  text-transform: uppercase;
  padding-inline: 1rem;
  border-radius: 0.375rem;
  height: 2.5rem;
  letter-spacing: 0.025em;
  display: inline-flex;
  align-items: center;
}

.outline-input {
  border: 1px solid var(--color-outline);
  border-radius: 0.25rem;
  height: 3.5rem;
  padding: .75rem;
  width: 20rem;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

.btn-outline {
  border: 1px solid var(--color-outline);
  color: var(--color-on-surface);
}
