@import 'tailwindcss';
$row-height: 48px;

.gantt-chart {
  display: grid;
  grid-template-columns: 180px minmax(0, 1fr);
}

.pivot-column__header {
  display: flex;
  height: $row-height;
}

.gantt-chart__pivot-column {
  border-right: 2px solid #b9b9b9;
}

.gantt-chart__header-date {
  display: flex;
  height: $row-height;
}

.gantt-chart__header {
  display: flex;
  height: $row-height;
}

.gantt-chart__body {
  overflow-x: auto;
  padding-bottom: 8px;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  border-radius: 16px;
  background-color: var(--color-secondary);
  grid-row: 1/1;
  padding-inline: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-on-primary);
  font-size: 0.85rem;
  display: flex;
  align-items: center;
}

.pivot-row {
  height: $row-height;
  padding-inline: 8px;
  align-content: center;
  border-top: 2px solid #e7e6e6;
}

.date {
  flex: 1;
  align-content: center;
  text-align: center;
  border-right: 2px solid #b9b9b9;
}

.table-row {
  height: $row-height;
  background-color: transparent;
  display: grid;
  padding-block: 8px;
  border-top: 2px solid #e7e6e6;
  position: relative;
}

.table-lines {
  position: absolute;
  height: 100%;
  display: flex;
}

.line {
  border-right: 1px dashed #e7e6e6;
  flex-shrink: 0;
}

.gantt-chart__table {
  position: relative;
  overflow-x: hidden;
}

/* .status- {
  background-color: #306730;
}

.status-success {
  background-color: #306730;
}

.status-pending {
  background-color: #305167;
}

.status-warn {
  background-color: #675730;
}

.status-error {
  background-color: #673030;
} */
