@import './cssUtilities/components.css';
@import 'tailwindcss';
@source '../../../libs/components';
@source '../../dashboard';
@source '../../schedule';

@theme {
  --color-primary: #0961a0;
  --color-on-primary: #ffffff;
  --color-primary-container: #d1e4ff;
  --color-on-primary-container: #001d35;
  --color-inverse-primary: #9dcaff;
  --color-primary-fixed: #d1e4ff;
  --color-primary-fixed-dim: #9dcaff;
  --color-on-primary-fixed: #001d35;
  --color-on-primary-fixed-variant: #00497c;
  --color-secondary: #4a607a;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #d1e4ff;
  --color-on-secondary-container: #031d34;
  --color-secondary-fixed: #d1e4ff;
  --color-secondary-fixed-dim: #b2c8e6;
  --color-on-secondary-fixed: #031d34;
  --color-on-secondary-fixed-variant: #324861;
  --color-tertiary: #7f4992;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #f9d8ff;
  --color-on-tertiary-container: #330045;
  --color-tertiary-fixed: #f9d8ff;
  --color-tertiary-fixed-dim: #edb1ff;
  --color-on-tertiary-fixed: #330045;
  --color-on-tertiary-fixed-variant: #653078;
  --color-background: #f8fafc;
  --color-on-background: #1c1b1c;
  --color-surface: #fff;
  --color-surface-dim: #dcd9d9;
  --color-surface-bright: #f8fafc;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f6f3f3;
  --color-surface-container: #f1eded;
  --color-surface-container-high: #ebe7e7;
  --color-surface-container-highest: #e5e2e1;
  --color-on-surface: #1c1b1c;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-surface-tint: #5c5e63;
  --color-inverse-surface: #313030;
  --color-inverse-on-surface: #f3f0f0;
  --color-outline: #d2d4d9;
  --color-outline-variant: #e3e3e7;
  --color-neutral: #797777;
  --color-neutral10: #1c1b1c;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error: #ffffff;
  --color-on-error-container: #410002;
  --color-surface-variant: #e1e2e7;
  --color-on-surface-variant: #45474b;
  --color-neutral-variant: #75777c;
  --color-neutral-variant20: #2e3035;
  --color-inverse-secondary: #b2c8e6;
  --color-inverse-tertiary: #edb1ff;
  --font-display: 'Roboto', 'sans-serif';
  --breakpoint-3xl: 120rem;
}
